<?xml version="1.0"?>
<!--scorpio camera slam-->
<!--scorpio技术讨论与反馈群：8346256-->
<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <arg name="configuration_basename" default="scorpio_lds_2d.lua"/>
  <arg name="open_rviz" default="true"/>

    <arg name="hall_encoder" default="true"/>
    <arg name="model_red"     default="true" doc="red is for the student,silver is for the teacher"/> 
	<arg name="laser_enable" default="false"/>
    <include file="$(find scorpio_bringup)/launch/driver_bringup.launch">
		<arg name="hall_encoder" value="$(arg hall_encoder)"/>
		<arg name="model_red"  value="$(arg model_red)"/>
		<arg name="laser_enable"  value="$(arg laser_enable)"/>
    </include>
    
	<group if="$(arg model_red)">
		<!-- Run the depthimage_to_laserscan node -->
		<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
			<remap from="image" to="/camera/depth/image_raw" />
			<remap from="camera_info" to="/camera/depth/camera_info" />
			<remap from="scan" to="/scan" />
			<param name="output_frame_id" value="/camera_depth_frame" />
			<param name="scan_height" value="50" />
		</node>
	</group>
	<group unless="$(arg model_red)">
		<!-- Run the depthimage_to_laserscan node -->
		<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
			<remap from="image" to="/camera/depth/image_rect_raw" />
			<remap from="camera_info" to="/camera/depth/camera_info" />
			<remap from="scan" to="/scan" />
			<param name="output_frame_id" value="/camera_depth_frame" />
			<param name="scan_height" value="50" />
		</node>
	</group>	
	  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
	  <include file="$(find scorpio_slam)/launch/scorpio_$(arg slam_methods).launch">
		<!--arg name="model" value="$(arg model)"/-->
		<arg name="configuration_basename" value="$(arg configuration_basename)"/>
	  </include>

  	<!-- rviz -->
  	<group if="$(arg open_rviz)"> 
		<group if="$(arg model_red)"> 
    		<node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find scorpio_slam)/rviz/scorpio_$(arg slam_methods)_red.rviz"/>
		</group>
		<group unless="$(arg model_red)"> 
    		<node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find scorpio_slam)/rviz/scorpio_$(arg slam_methods)_silver.rviz"/>
		</group>
	</group>
  <!--创建新的终端，scorpio键盘控制 “wsad”分别代表“前后左右”-->
  <node pkg="scorpio_teleop" type="keyboard_control.sh" name="kc" />
</launch>
