<?xml version="1.0"?>
<!--driver bringup -->
<launch>

    <arg name="model_red"     default="true" doc="red is for the student,silver is for the teacher"/> 
    <arg name="hall_encoder" default="false"/>
	<arg name="laser_enable" default="true"/>
	<arg name="limited_speed" default="0.4"/> 
    <!-- driver -->
    <group if="$(arg model_red)">
		<include file="$(find scorpio_description)/launch/scorpio_description_red.launch"/>

		<!-- 3D sensor -->
		<include file="$(find astra_launch)/launch/astra.launch">
	    	<arg name="rgb_processing"                  value="true"/>
	    	<arg name="depth_processing"                value="true"/>
	    	<arg name="depth_registered_processing"     value="false"/>
	    	<arg name="depth_registration"              value="false"/>
	    	<arg name="disparity_processing"            value="false"/>
	    	<arg name="disparity_registered_processing" value="false"/>
		</include>
  	
		<group if="$(arg laser_enable)">
			<include file="$(find ydlidar_g2)/launch/lidar.launch">
			</include>	
		</group>
		<!--在rviz显示-->
		<arg name="rvizconfig" default="$(find scorpio_teleop)/rviz/teleop_red.rviz" />
    	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
    </group>

    <group unless="$(arg model_red)">
		<include file="$(find scorpio_description)/launch/scorpio_description_silver.launch"/>

		<!-- 3D sensor -->
		<arg name="3d_sensor" default="d435"/>  <!-- r200, kinect, asus_xtion_pro -->
		<include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
			<arg name="align_depth"         default="true"/>
		</include>

		<group if="$(arg laser_enable)">
			<include file="$(find ydlidar_g4)/launch/lidar.launch">
			</include>	
		</group>
		<!--在rviz显示-->
    	<arg name="rvizconfig" default="$(find scorpio_teleop)/rviz/teleop_silver.rviz" />
    	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
    </group>

    <include file="$(find scorpio_base)/launch/scorpio_base.launch">
		<arg name="serialport"                  value="/dev/ttyS0"/>
		<arg name="hall_encoder"  value="$(arg hall_encoder)"/>
		<arg name="limited_speed"  value="$(arg limited_speed)"/> 
		
    </include>

    <group unless="$(arg hall_encoder)">
		<!--rf2o_Laser_Odometry-->
		<include file="$(find scorpio_bringup)/launch/includes/car_rf2o.launch.xml" />

		<!-- Robot_Localization -->
		<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
			<rosparam command="load" file="$(find scorpio_bringup)/param/scorpio_ekf_params.yaml" />
		</node>
	</group>
</launch>
