<?xml version="1.0" ?>
<!-- 
	spark robot's description    
	
	Copyright 2016 NXROBO INTERNATIONAL (HONG KONG) LIMITED.
    http://www.nxrobo.com
-->

<robot name="scorpio" xmlns:xacro="http://ros.org/wiki/xacro">
  	<xacro:include filename="$(find scorpio_description)/urdf/scorpio_red.urdf.xacro"/> 	
</robot>
