<?xml version="1.0"?>
<!--
  The nxrobo people (or whatever) follower nodelet.   
 -->

<launch>
	<arg name="hall_encoder" default="true"/>
    <arg name="model_red"     default="true" doc="red is for the student,silver is for the teacher"/> 
	<arg name="depth_topic" default="/camera/depth/points"/>
	<include file="$(find scorpio_bringup)/launch/driver_bringup.launch">
		<arg name="hall_encoder" value="$(arg hall_encoder)"/>
		<arg name="model_red"  value="$(arg model_red)"/>
	</include>
	<group if="$(arg model_red)">
		<include file="$(find scorpio_follower)/launch/nxfollower_bringup_nodelet.launch">
			<arg name="depth_topic" value="/camera/depth/points"/>
		</include>	
		<arg name="rvizconfig" default="$(find scorpio_follower)/rviz/follow_red.rviz" />
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
	</group>
	<group unless="$(arg model_red)">
			<include file="$(find scorpio_follower)/launch/nxfollower_bringup_nodelet.launch" >
			<arg name="depth_topic" value="/camera/depth_registered/points"/>
		</include>	
			<!--在rviz显示-->
		<arg name="rvizconfig" default="$(find scorpio_follower)/rviz/follow_silver.rviz" />
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
	</group>

</launch>
